[2018-10-25 12:39] mwakerman opened #1 "Show number of tasks in each list/label in filter pane."

[2018-10-25 12:40] mwakerman opened #2 "Move "Backlog" button out of toolbar."

[2018-10-25 12:43] mwakerman opened #3 "Link directly to Todoist task from Kanbanist task card."
By linking directly to Todoist tasks, there is less need for Kanbanist to be able to modify all the task element.

Todoist allows for directly linking to a task via e.g. https://todoist.com/showTask?id=2871852183.

[2018-10-25 12:43] mwakerman opened #4 "Show and edit due data AND time in task card"

[2018-10-25 12:44] mwakerman opened #5 "Allow text search to filter backlog"

[2018-10-25 12:44] mwakerman opened #6 "Add confirm step when deleting lists"

[2018-10-25 12:47] mwakerman opened #7 "List Rules"
Allow lists to have "rules" that are applied to tasks when they are added to a list.

e.g. Add a due date to a task when it is added to a specific column.

[2018-10-25 12:48] mwakerman opened #8 "Shortcut for easier filtering of empty labels"
People use labels for lots of things. It should be faster to filter all empty labels.

[2018-10-25 12:54] mwakerman opened #9 "Drag and Drop Offset (Safari)"
Halfway through 2018, dragging tasks and lists broke completely in Safari (Kanbanist currently doesn't work in Safari) and the drag offsets went crazy in Chrome and Firefox. I tried updating to the latest version of `react-dnd` but that did not solve the problem.

It appears to be related to a[long long standing issue](https://github.com/react-dnd/react-dnd/issues/552) with `react-dnd` but I'm uns

[2018-10-25 12:56] mwakerman opened #10 "Add WIP limits to lists"
Unsure where this WIP limit could be stored but perhaps hidden in the true label name?

[2018-10-25 12:57] mwakerman opened #11 "Allow lists to also be Todoist Projects"
Easily the most common feature request is to have lists represent Todoist projects (rather than labels).

[2018-10-25 18:49] darekkay opened #13 "Inconsistent prettier configuration"
In your README, you're using the following prettier configuration:

[code]

However, all JavaScript files in this repository use 2 spaces for indent.

I would like to open a PR with a `.prettierrc` file and a `format` script to enforce your coding styleguides, but this would reformat every single file.

So my question is - would you rather change the code styling to 2 spaces or reformat all files

[2018-10-25 21:18] mwakerman commented on #13
You’re correct! I was very inconsistent with applying prettier and had it working as a git commit hook on modified files for a time but then it broke and I never fixed it again. I’d welcome a PR that standardises the styling. My preference is 4 spaces for JavaScript and a big style-only commit is fine :)

[2018-10-26 15:03] fschirinzi commented on #11
Does this feature make sense?
I would say, that there should be a board per project that can be opened. Not a list in a board per project.

Example:
I have 5 main projects. For each main project I have multiple sub- and sub-sub-... projects.

My understanding of a kanban board is, that you can move a card from one list to another. Now, if you define a list as project, you would move tasks between

[2018-10-27 00:01] mwakerman commented on #11
Hi @fschirinzi - you are correct. I personally don't think projects-as-lists is very "Kanban" which is meant to show the state of a task (which changes) rather than it's project (which should be relatively static). However, some people don't have Todoist Premium so they don't have labels and are using projects to fulfil this need (note that you can still actually use labels in the Todoist API with

[2018-10-27 08:39] #3 closed

[2018-10-28 10:23] JackGraal opened #16 "Bookmarking board shows "Page not found""
I used to use a shortcut to an already filtered board like this:

https://kanban.ist/board?lists=[%22SOMEDAY%22,%22NEXT%22,%22IN%20PROGRESS%22,%22WAITING%22,%22DONE%22]&filter=NEXT_7_DAYS

Now it shows a "Page Not found" error. Looks like you've followed a broken link or entered a URL that doesn't exist on this site."

So every time kanbanist is opened I need to go to the homepage and start the bo

[2018-10-29 12:27] nthwhite opened #17 "Allow different boards to be saved and accessed from within Kanbanist"
Currently each board (comprising a particular set of filter settings) has to be saved locally as a browser bookmark (a feature that incidentally no longer works: see #16). It would be much easier if boards could be configured and saved within kanbanist itself.

It kind of looks like this is already a planned feature given that there is a button labeled 'Board' sitting above the filter toolbar whic

[2018-11-01 11:48] #2 closed

[2018-11-01 12:13] mwakerman commented on #17
Hi, thanks for writing up your request. The problem with "saved boards" is that Kanbanist is a static, serverless site that talks directly to Todoist and there isn't anywhere to save a board that could be loaded later on. It could be saved locally in the one web browser but I fear that would be confusing for people without a technical understanding. Hence why "bookmarked boards" was the solution I

[2018-11-01 12:18] #16 closed

[2018-11-01 12:19] mwakerman commented on #17
Issue #16 now closed and bookmarks are once again working.

[2018-11-01 12:54] nthwhite commented on #17
Understood. Thanks for explaining that. I'll continue using bookmarks now that you've fixed the issue. :-)

[2018-11-01 13:00] mwakerman commented on #17
No worries!

[2018-11-01 13:00] #17 closed

[2018-11-06 14:43] maartendeblock opened #20 ""Undo" button when checking an item off"
Hi,

It would be great to have an undo button when you checked off an item, just like normal Todoist client.

Thank you for your great work!

[2018-11-06 21:05] XuanLi-Leong commented on #6
Hey! I'm interested to contribute to this project -- could I take up this card?

[2018-11-08 01:20] mwakerman commented on #20
Hi @maartendeblock, I agree. This is a good first issue for someone wanting to contribute so I've added the tag. Thanks for the suggestion.

[2018-11-08 08:55] fschirinzi opened #21 "Add dynamic due date filter for "Today""
When defining a due date filter, a unix formatted string is added to the url.
When 'today' is choosen as due date and the view is added as bookmark and reopend the next day, the due date filter is not updated to the today's date.

Maybe changing the added filter to the url as word and then convert into a unix formatted timestamp for making the request would be better?

[2018-11-11 16:01] marpic55 opened #22 "Need an Android mobile app for Kanbanist"

[2018-11-12 21:34] #21 closed

[2018-11-12 21:36] mwakerman commented on #21
Hi @fschirinzi - @XuanLi-Leong-UIUC has just added this feature for you. There is now a "Today" option for the dynamic date filters at the top of the filter pane.

[2018-11-13 15:18] finnwood commented on #11
I'm a new user but this was the first thing that struck me.

How about multiple boards that could be selected and configured on a per project basis rather than projects in the main board? This may require an alternative login method in the future rather than linking the API so to allow settings to move between different machines/browsers.

[2018-11-13 16:44] vidushirai commented on #20
Hey @mwakerman, is it cool if I work on this? I've started it in my branch here https://github.com/vidushirai/kanbanist/tree/undo-button but I'm still working on using redux to store the last completed item instead of storing it in the state.

[2018-11-15 00:46] mwakerman commented on #20
Hi @vidushirai, I've been thinking about this particular issue for a while. For checking off a single item, this would not be difficult to just provide an undo button. But for other API changes (renaming lists, re-ordering lists, adding/deleting lists etc.) I thought it might be a better approach to provide "temporary undo" by delaying API actions (the same way that Todoist and Gmail do) where the

[2018-11-15 12:13] Nornwen commented on #9
I am not sure if this is the same issue I am having, that happens when I drag and drop and the screen should scroll:

![image](https://user-images.githubusercontent.com/7502858/48552216-b7b5a380-e88c-11e8-948b-8b568d63659b.png)

[2018-11-15 20:21] vidushirai commented on #20
I like this approach better, i didn't know that's how Todoist and Gmail do it. I'd like to try implementing it this way and see how it goes.

[2018-11-15 20:38] mwakerman commented on #9
Hi @Nornwen , I’m not certain either. I’ve got a branch in progress that is a pretty major refactor of the CSS structure and replacing react-dnd and I’m hopeful that it can fix a lot of these display issues. Thanks for reaching out.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 11:42] mwakerman commented on #11
@finnwood

This is already possible. When you apply a filter to your board the details of this filter are also stored in the URL which allows a specific board to be bookmarked. Bookmarks solve multiple problems. Firstly, they are easy to sync between browsers and most people already do use a browser that allows for easy and secure syncing. And most importantly, it's not clear where the configurati

[2018-11-19 11:55] finnwood commented on #11
@mwakerman

I didnt realise that this information was stored in the URL. I must try that as I already use a similar method with specific shortcuts for todoist.

[2018-11-27 00:53] XuanLi-Leong commented on #20
Hi! Thought you might want to know that there's also a Todoist API to uncomplete an item.
https://developer.todoist.com/sync/v7/#uncomplete-items

[2018-11-28 23:07] Nornwen commented on #9
Is there any news on this? :)

[2018-12-03 15:55] marcosdiasalves commented on #11
+1 vote for board per project instead of labels.

[2018-12-10 09:12] finnwood opened #26 "Display comments with Task on a card"
It would be nice to be able to see comments along with the task on a card. If possible it could be collapsible.

[2018-12-12 19:08] bashfulrobot opened #27 "Persistent today/next 7 column"
Is it possible to have a persistent column that auto-populates with the "today" items? Yes, I can open the backlog and filter by today, but I would love to have this so that anything I have "scheduled" for the day is always there without having to use notifications (notification fatigue).

Thank you.

[2018-12-17 22:10] mwakerman commented on #27
Hi @bashfulrobot thanks for the suggestion. So i understand: you want a “Today” list that is automatically populated with all tasks that are due (and overdue?) for today?

The reason this is difficult is because Kanbanist lists are actually Todoist Labels. So you’re asking if we can automatically apply an “@Today” label to all tasks that are due today, each day.

Doing this programmatically would

[2019-01-02 20:48] #27 closed

[2019-01-13 17:43] alexanderzimmerman opened #28 "Include hierarchy in Projects Filter"
My workflow would greatly benefit from being able to enable/disable Project Filters relative to the hierarchy in Todoist; e.g. checking or unchecking a parent project would automatically check or uncheck child projects.

P.S: Thanks for creating this tool. I'm very interested in this project, as it meets a specific need I've had for a long time.

[2019-01-14 09:33] mwakerman commented on #28
Hi @alexanderzimmerman, thanks for the suggestion. I think this is a great idea. I'm in the process of a pretty major re-write of the drag-and-drop (which has been buggy everywhere and non-usable in Safari for a while) but will take a look at this after that.

Thanks!

[2019-01-20 08:36] MattLisson opened #29 "Allow Labels that aren't lists"
To manage project Milestones, it would be useful to have Labels that aren't Kanban Lists.

I propose that:

1. Labels not selected in the list filter, are available in a new "Labels Filter".
2. Tasks be added the "Backlog" if they don't contain a Label from the List Filter set.

This would allow users to:

1. Have the labels like @completed, @milestone1 and @doAtTheOffice on the same task, freeing

[2019-01-22 04:56] mwakerman commented on #29
Hi @MattLisson - I think your proposal makes sense and strikes the right balance between allowing non-Kanbanist-labels to still be useful without over-complicating the usability of filters. For clarity, my understanding of your request is:

- Allow people to filter by specific labels **iff those labels are not currently being used to define lists on the board**.
- Include tasks in the backlog if t

[2019-01-22 05:16] MattLisson commented on #29
Thanks @mwakerman - I agree with your understanding of the request, that lines up with my code.

I hadn't thought about additional UI to display the labels, but that makes sense as a next step. Using my version yesterday I managed labels on Todoist itself, and used them for creating specific views in Kanbanist (Next Milestone, Design tasks only, etc). I found this useful enough without seeing the

[2019-01-25 16:55] VikashKothary opened #32 "Just some ideas to organise the project"
I just want to start by saying I love what you've done and I would love to help any way I can. I just had a few ideas on how to organise the project to make it easier for you to maintain the project.

# Open Source Documentation
- [ ] CHANGELOG.md
- [ ] .github/PULL_REQUEST_TEMPLATE.md
- [ ] .github/ISSUE_TEMPLATE.md
- [ ] .github/ISSUE_TEMPLATE/BUG_REPORT_TEMPLATE.md
- [ ] .github/ISSUE_TEMPLATE/

[2019-01-26 08:03] mwakerman commented on #32
Hi @VikashKothary, thanks for taking the time to write up your thoughts.

- I'd be happy to include the documentation you've suggested. Do you have documents to use here? I'd be happy to review/modify. In general, it doesn't feel like we have an issue without those templates but I'd be happy to add.
- I'm not closed to the idea of creating an organisation but would be interested in knowing what th

[2019-01-28 09:59] VikashKothary commented on #32
Hi @mwakerman,

[2019-01-30 09:17] ArkadyBuryakov opened #33 "Add support for Toggl button"
I appreciate your work much!

I think this feature would help users to be more productive during their work.

There is an integration between toggl and todoist that allows to track time in toggle from todoist web applictation: https://toggl.com/todoist-time-tracking/

It would be convenient to have a support for toggl button in kanbanist, so user could avoid double checking tasks in kanbanist and

[2019-01-30 11:49] ArkadyBuryakov commented on #33
I found Toggl documentation about adding new toggl button integrations: https://github.com/toggl/toggl-button/wiki/Adding-new-integrations

[2019-02-10 17:04] jojipjohn opened #35 "Add a print option to print each cards"
Please add a Print option to print each cards

[2019-02-16 18:27] jojipjohn opened #36 "Support for Mobile Web or Mobile app"
Please add support for Mobile Web or Mobile app. This will be a help for users who are using Todist on Mobile.

Joji John

[2019-02-19 16:03] cosnomi commented on #28
I'm working on it.

[2019-02-21 04:50] cosnomi commented on #33
I am interested in this feature. I will try to work on this, though it looks pretty hard for me. Don't expect too much.

[2019-02-21 07:06] cosnomi commented on #33
@mwakerman Can I ask your view on this integration? It does not affect this repository itself, so maybe I don't have to ask you a review for this, but just in case.

[2019-02-21 22:49] mwakerman commented on #33
I'm happy for someone to add this integration if there is a way to prevent it from loading or being visible for users that do not use toggle.

[2019-02-22 06:04] cosnomi commented on #33
@mwakerman Thanks. Because the Toggl button just adds an HTML tag to the web page on the client side, it does not need Kanbanist's change nor affects users who do not use Toggl.
Now I will remove WIP from the PR and await Toggl button's review.

[2019-03-03 19:19] #28 closed

[2019-03-15 21:53] bashfulrobot opened #40 "https://kanban.ist/board URL does not always clear filters"
Hi there,

I have created a bunch of filtered "views" and saved them as bookmarks (allows me to get there quickly without defining different views each time). I also created a bookmark to https://kanban.ist/board with the intent of "clearing filters" without the multiple clicks to go in to do so. But when I do that - the filters remain.

I suspect it is the way the clear filters button itself work

[2019-03-30 18:21] cosnomi commented on #33
https://github.com/toggl/toggl-button/pull/1318 has been merged, and the latest release of toggl-button ( `1.25.0` ) includes this integration. You can now start or stop the toggl timer from a kanbanist panel!

@mwakerman
Thank you for your cooperation. This issue can be now closed.

[2019-03-31 13:21] #33 closed

[2019-04-07 14:47] ubuntudroid opened #42 "Don't show sections as cards"
Todoist allows creating of sections by simply adding a colon at the end of the task, e.g. `Some Section:`. This can be used to further structure task lists.

However kanbanist treats such sections as regular tasks and creates cards out of that which doesn't make much sense obviously. Easiest solution would be to simply omit tasks whose title ends with a colon.

[2019-04-08 22:20] mwakerman commented on #42
Hi @ubuntudroid, agree that this is the right approach. I've used Todoist for most of a decade and wasn't aware of sections!

[2019-04-09 07:09] Paulix commented on #42
I like kanbanist already now, but that would be a great additional feature.

I know about sections since yesterday. I use todoist since years. ;-)

[2019-04-30 16:53] JohnWebmaster opened #43 "Enhancement Request: Support swimlanes (rows) on the board"
In Kanban, it's customary to be able to have swimlanes and columns. Swimlanes can indicate projects, or could be labels unrelated to columns. In the latter case, you could have a pattern defined to indicate a row label. For example Row_xxx, Row_yyy, etc. You could then strip "Row_" from the displayed text on the Kanbanist board. Thoughts?

[2019-05-02 22:53] mwakerman commented on #43
Hi @JohnWebmaster thanks for the feature request. I’d agree that swimlanes would be a valuable addition to Kanbanist. There’s an existing PR for supporting non-column labels in filters and as such, I’d be hesitant to create swimlanes based on labels but by project (or another field) would be great.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-06 17:39] JohnWebmaster opened #44 "Bug: When creating task in Kanbanist, labels aren't recognize"
Steps to replicate:

1. I create a task called "Test Task today #work" in a column called "Ready 2".
2. A task is created in the backlog column called "Test Task @ready_2".

[2019-05-12 10:40] mwakerman commented on #44
Hi @JohnWebmaster - thanks for reporting this issue. Unfortunately I'm unable to repro using the same parameters that you've provided which makes it difficult to fix. See: https://imgur.com/a/KHecDZl

[2019-08-11 01:58] #40 closed

[2019-08-11 01:58] mwakerman commented on #40
Hi @bashfulrobot - please let me know if this is now resolved for you!

[2019-08-17 05:30] mwakerman commented on #27
Unfortunately I don’t think #21 makes this any easier to implement. It still relies on the tasks being in a list (== having the required label). Thanks for checking back though, an option here could be a List “action” to “add all overdue tasks” to the specified list (which includes today and any due beforehand)
On 16 Aug 2019, 00:45 +1000, Dustin Krysak <notifications@github.com>, wrote:

[2019-08-20 20:22] thomas-seidl commented on #42
Hi guys, Kanbanist is a great feature extending Todoist in an awesome way.

Aside the colon ":" at the end of a task title, also an asterisk "*" at the beginning makes a task uncheckable, and it may be used as a section title (non necessarily).

I like the uncheckable tasks a lot and use them as parent for a set of subtasks. As I consider the subtasks to be the actionable items and the parent as t

[2019-09-02 02:23] resort-diaper opened #47 "Update to Todoist API v8"
As of August 30th 2019 v7 of the Todoist API has been removed as per [https://developer.todoist.com/sync/v7/](https://developer.todoist.com/sync/v7/).

As this date has now passed [kanban.ist](kanban.ist) will not work until the API used is updated to v8.

[2019-09-02 12:44] mwakerman commented on #47
Thanks for reporting. I believe I've been able to do this. Let me know if you have any issues.

[2019-09-02 12:44] #47 closed

[2019-09-06 06:41] baba43 opened #48 "Task due dates missing in backlog"
Currently, the Board isn't listing untagged tasks anymore and also there isn't an option to enable it, is it?

[2019-09-06 07:51] mwakerman commented on #48
Are you referring to the Backlog?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-06 07:51] mwakerman commented on #48
(Which is where tasks that do not have a label/list go)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-06 07:54] baba43 commented on #48
You're right, but my Backlog is empty.

My previous workflow (that was working for a long time) is to just filter by _today_ so that I get an overview about my daily (and overdue) tasks, grouped by List.

However, as soon as I select the date, my Backog is empty now.

[2019-09-06 11:13] mwakerman commented on #48
That sounds like a bug. I’ll take a look, Todoist end-of-lifed the API I was using and I updated it on Tuesday to use the new API but didn’t have time to test it thoroughly .

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-10 15:47] Nornwen opened #49 "When Filtering for Today, Backlogged Tasks Don't Appear"
If I have backlog open while no filters on, I do see tasks in backlog... however once I filter for today no tasks show under backlog, despite me knowing there are 20 or so that should.

To deal with this I created a label for unsorted instead, separate from the actual backlog. If I label all my unsorted tasks for today under that they show up with the today filter...

However I experimented and dr

[2019-09-19 10:51] xor-gate opened #50 "Release management"
It would be nice when it is stable enough to create a downloadable release (with github releases) so I don't have to build it myself.

Thanks!

[2019-09-20 06:46] baba43 commented on #49
You are having the same issue as described here, right?

https://github.com/mwakerman/kanbanist/issues/48

[2019-09-20 14:40] Nornwen commented on #49
Yes it is, thanks!

On Thu, Sep 19, 2019 at 11:46 PM Sebastian Schiller <
notifications@github.com> wrote:

[2019-09-25 07:20] rymeld opened #51 "I love Kanbanist! :-) How do I show completed tasks? I manually added them, but made the mistake of marking them all as done and then they disappeared from the list! :-)"

[2019-09-25 07:21] rymeld commented on #51
![2019-09-25_082120](https://user-images.githubusercontent.com/1009654/65578328-80fcef00-df6d-11e9-9582-80c2830a2826.jpg)

[2019-09-30 04:37] cosnomi commented on #50
You don't have to build. You can just use [kanban.ist](kanban.ist). Or am I missing something...?

[2019-09-30 13:30] msantoro14 commented on #48
Hi There @mwakerman , I noticed this change write away as well.  The workflow worked well from dragging items from back log to a filter every day.  It was a great work process.  However, when you filter by "today" all of the backlog disappears as noted above.  Would be great to have this bug fixed.  Thank you for creating such a useful tool and for all of your time and effort to support it. =)

[2019-09-30 18:50] xor-gate commented on #50
I mean a github tag should be created, and a release build and added to the releases page.

[2019-10-09 07:07] HaGeSo opened #52 "Expand date in card"
Expand the date in a card if it is not the current year. In the moment there is no difference in displaying 11.10.2019 or 11.10.2020

[2019-10-09 07:09] HaGeSo opened #53 "Little Icon for recurring tasks"
I have a german setup and there is no icon in a card for a recurring task like in todoist it self

[2019-10-09 07:12] HaGeSo opened #54 "Screen resolution - frame fixing"
When I have many tasks in a column (srcollbar will be displayed in this column), it is possible to scroll the header line (name of the column/label) out of the window. This information should be always displayed

[2019-10-09 07:13] mwakerman commented on #54
Hi @HaGeSo, can you please provide a screenshot?

[2019-10-09 07:26] HaGeSo commented on #54
![snip_20191009092308](https://user-images.githubusercontent.com/56338048/66460270-d6112880-ea76-11e9-9ddb-8ba928054e8c.png)
![snip_20191009092538](https://user-images.githubusercontent.com/56338048/66460278-d90c1900-ea76-11e9-87f1-e97dde334580.png)
Chrome browser, also not working Firefox or Vivaldi

[2019-10-09 11:58] mwakerman commented on #53
Thanks, this happened in the transition from v7 -> v8 of the API. There is also an error in their documentation, which I've notified them about.

[2019-10-09 12:01] #53 closed

[2019-10-09 12:26] HaGeSo opened #56 "Issues in Vivaldi Browser"
I placed also a ticket in the vivaldi browser forum.

kanban.ist is working properly but it is not possible to move a task to another tag-column. In chrome or firefox it is working like it should. I just want to inform you, maybe it is an issue by kanban.ist, may be by vivaldi

[2019-10-11 07:01] HaGeSo opened #57 "Display time"
Is it possible to display also the time if a task has a specific time, for example "today 9:00"

[2019-10-16 15:59] #56 closed

[2019-10-28 09:01] rm2101 opened #58 "Todoist items with due dates do not show up at all in Kanbanist"
When I log into Kanbanist, it only shows the backlog with all the items which do not have a due date. Any item with a due date does not show up anywhere in Kanbanist.

Does anyone else have this problem? Can someone please help? Thank you!

[2019-11-10 21:32] JoPe72 opened #59 "Multiple Boards using different filters"
I am not sure if this is an issue... or a feature request... or a support request. I am sorry if I ask this in the wrong forum

Is it possible to have more than one Kanbanist board pointing to my todoist account? Eg One for personal tasks, one for customer tasks, one for family etc?

[2019-11-14 21:22] mwakerman commented on #59
Hi @JoPe72 - Kanban.ist boards can be setup using filters. Each filter you create can then be bookmarked in your browser to be 'saved'.

[2019-11-14 21:22] #59 closed

[2019-11-21 19:04] baba43 commented on #48
@mwakerman it would be awesome if you find time to fix this issue. If it's just a small change, it will make your app so much more powerful. If not, tell us if/what's the problem.

Thank you! 👍

[2019-11-22 06:27] mwakerman commented on #48
I've had a look and it's not clear to me that something has 'changed'.

- My backlog is working correctly and all tasks that do not have a "label" appear in the backlog.
-  Regarding @msantoro14's comment, selecting "Today" filters my board to all tasks due today (or overdue). This filtering includes the filtering the backlog (and always has). It actually doesn't make sense to not filter the backl

[2019-11-22 07:08] baba43 commented on #48
@mwakerman thank you very much. The issue still exists (at least for me) and can be easily reproduced:

Add a new task to Todoist with a due date of today. Then go it Kanban.ist and filter by that date. Now, the Backlog is empty and my task isn't shown anywhere. The only way to get it shown again is by specifing a label. In other words, it's impossible to have tasks without a label to show up when

[2019-11-22 13:32] msantoro14 commented on #48
@baba43 and @mwakerman , yes I agree with @baba43 , the previous version of the backlog workflow functionality was useful and necessary.  Add any task and assign it "Today" and it used to automatically appear in the backlog even without a label.  Then you could always filter what you viewed in the backlog by using the project filter or priority filter and "today." filter.  But now, as @baba43 ment

[2019-12-05 15:25] dbarnett commented on #36
There's #22 for an Android app. One of them should be closed as dupe.

[2019-12-08 23:39] mwakerman commented on #22
In truth, Kanban.ist needs a pretty major refactor (the drag and drop library I use is incredibly susceptible to browser changes and I get a lot of bug reports about ghost cards and cards not dragging properly). I don't have the time to do this refactor but was looking to us https://github.com/rcdexta/react-trello and plugging that into my todoist client and seeing how it goes. It looks like react

[2019-12-08 23:39] mwakerman commented on #36
Thanks @dbarnett, closing as dupe of #22.

[2019-12-08 23:39] #36 closed

[2019-12-09 07:17] dbarnett commented on #58
I definitely see items with and without due dates in my Backlog section. Is it possible you have some filters selected like a "Due Date" filter? It would show up in the URL like `&filter=SOMETHING`.

[2019-12-09 07:52] dbarnett commented on #9
@mwakerman Do you have any work in progress you can post for the CSS refactor, in case anyone else can pick up where you left off?

[2019-12-09 16:08] dbarnett opened #60 "Rewrite drag and drop integration"
The current drag and drop integration based on react-dnd suffers from various longstanding issues like major visual quirks and offsets while dragging (#9) and lack of mobile screen support (#22). It should be updated to something more stable and maintainable.

http://github.com/rcdexta/react-trello looks like a great drop-in solution to implement all of the UI and interactions for draggable boards

[2019-12-09 16:09] dbarnett commented on #22
That looks awesome! I created #60 for the concrete task so there's one obvious place to discuss the plan since it relates to quite a few issues here.

[2019-12-12 01:55] dbarnett commented on #57
Interesting... JS utilities don't make any distinction between
  2019-01-01 00:00
and
  2019-01-01
JS developers don't have any helpful solutions and just suggest you overload "00:00" to mean "no time": https://stackoverflow.com/questions/21171794/check-if-a-moment-contains-a-time.

[2019-12-12 02:46] #57 closed

[2019-12-12 02:50] mwakerman commented on #51
Hi @rymeld, in Todoist you can go to a project and view completed tasks. From there you can un-complete tasks. Unfortunately this isn't possible in Kanban.ist

[2020-01-08 09:40] Connect-On opened #68 "Sort by assignated person"
Hi,

We try kanbanist for since 1 week, and we need a new feature.
We need to have a column for each person from our company. It's possible with label but we need to sort task only with assignated person. It's possible ?

And is it possible to have color by person. Each task for the x person is red.

Thanks.
Regards,

[2020-01-10 14:39] HaGeSo commented on #54
It is working when the "filter" (Lists, Projects, Priority, ...) bar isn't visible. When the "filter" bar is visible (as you see in the screenshots) the wrong behaviour occurs.

[2020-01-20 07:29] HaGeSo opened #69 "Sort as parameter in URL"
Hi,

I have always to browser tabs with kanbanist open.
One with a filter for today https://kanban.ist/board?filter=TODAY and another one without this filter to see all tasks.
Inside the today filter I sort by priorities and for all I sort by date. When I switch the filter inside one of this tabs, the sorting is also switch in the other tab when the page is reloaded. I think that sorting is stored

[2020-01-20 13:28] mwakerman commented on #69
You are correct, the current filter is stored in localstorage (along with
other data). It means the app can load instantly and refresh in the
background but pulling out all the localstorage persistance has been
something I’ve been considering for a while.

On Mon, 20 Jan 2020 at 01:29, HaGeSo <notifications@github.com> wrote:

--

--
Misha Wakerman
m.wakerman@gmail.com

[2020-01-25 11:03] baba43 commented on #48
@mwakerman may you have a look into this one more time please?

I would really love to use Kanbanist again.

[2020-01-29 01:24] mwakerman commented on #48
@baba43 - I had another look and your reproduction steps were correct. The underlying issue was that all tasks in the backlog were incorrectly being created with no due date (ignoring the due date from the task in Todoist). This was missed in the migration from Todoist API v7 → v8.

[2020-01-29 01:24] #48 closed

[2020-01-29 07:12] mwakerman commented on #68
Hi @Connect-On, it sounds like you are asking for the following features:

1. Have a unique list for each user in your team that contains tasks assigned to that user.
2. If not (1), then allow each list to be sorted by the assignee
3. Colour tasks by assignee.

1 is a significant amount of work and unlikely to be done in the short or medium term. There is frequently a request for lists to be Todoi

[2020-01-29 07:21] mwakerman commented on #54
Hi @HaGeSo, I can see the behaviour you are describing and can take a look at it thought it's relatively low priority for me as I don't expect most users to be keeping the filters toolbar open for a majority of the time.

For my own future reference, the board is designed to fill the vertical real-estate without needing to scroll (the lists shrink and can be internally scrolled). However, when the

[2020-01-29 07:22] mwakerman commented on #58
Seems like a duplicate of #48 (now fixed).

[2020-01-29 07:22] #58 closed

[2020-01-29 07:24] mwakerman commented on #60
I've begun this work. It's fairly significant as it requires an update to react/react-dom which requires updates to react-redux and routers and all sorts of other fun stuff. Most significantly, BlueprintJS (the UI framework) underwent significant changes in later versions which I'm working through now (basically every component needs to be checked/tweaked for small API changes). Once this upgrade

[2020-01-30 12:55] LarsaSolidor opened #71 "Add contrast to favicon image"
The favicon image is near impossible to see when using dark mode themes in browsers:
![Kanbanist Favicon](https://user-images.githubusercontent.com/16529675/73451500-a9538a80-435f-11ea-9b90-9b2446a76cb5.png)
[This is a screenshot, not just a black image!]

Suggest adding a white outline or similar?

[2020-02-17 22:12] dbarnett opened #72 "Thoughts on official Todoist kanban boards"
Doist supposedly has their own kanban board support in the works
(mentioned in https://www.reddit.com/r/todoist/comments/f2sob0/im_amir_founder_and_ceo_at_doist_creators_of/fhffbdg). Do you expect to continue to maintain Kanbanist as an alternative?

[2020-02-17 22:22] mwakerman commented on #72
@dbarnett - long term, probably not depending on whether they have all the features I/other people want. But generally I expect their product will be great and leave people little reason to keep using Kanbanist.

You might also have seen that Todoist's boards were originally slated for Q1 2019 (Doist's head of marketing comments on my [original Kanbanist video](https://www.youtube.com/watch?v=Y5rb

[2020-02-17 23:50] dbarnett commented on #72
Yep, who knows when that will land.

Anyway, the Kanbanist view has breathed new life into my Todoist usage, so thank you for your work on it and I'm excited to hear the refactor is coming along. =)

[2020-02-18 00:16] mwakerman commented on #72
Glad you've gotten some value from it and thanks for your contribution.

[2020-02-18 00:16] #72 closed

[2020-02-23 10:23] #51 closed

[2020-02-23 10:33] mwakerman commented on #60
@dbarnett - take a look at PR #73 and let me know what you think. Pretty far reaching change. I'm sure there are some bugs around. Major changes and minor listed in the PR description.

https://5e5253eb7690da0008bb81fc--kanbanist.netlify.com/board

[2020-02-23 10:33] mwakerman commented on #54
Fixed, preview here: https://5e5253eb7690da0008bb81fc--kanbanist.netlify.com/board

[2020-02-23 21:05] HaGeSo commented on #54
Works also for me, thank you.

Just for information
In the preview I missed the sorting button

Am 23. Februar 2020 11:34:10 schrieb Misha Wakerman <notifications@github.com>:

Fixed, preview here: https://5e5253eb7690da0008bb81fc--kanbanist.netlify.com/board

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mwakerman/kanbanist

[2020-02-23 22:06] mwakerman commented on #54
Yes, I’ve dropped the previous “sort by” functionality in favour of users
being able to sort the tasks however they like (like Trello). Unfortunately
Todoist doesn’t let you sort tasks within a label so I’ve had to only save
the sorting locally and if you open Kanbanist on another computer you won’t
have the sorting.

On Mon, 24 Feb 2020 at 08:05, HaGeSo <notifications@github.com> wrote:

--

--
M

[2020-02-23 22:19] HaGeSo commented on #54
Sorting by priority or by date is a main function for me and I would be sad if you drop this feature

Am 23. Februar 2020 23:06:45 schrieb Misha Wakerman <notifications@github.com>:

Yes, I’ve dropped the previous “sort by” functionality in favour of users
being able to sort the tasks however they like (like Trello). Unfortunately
Todoist doesn’t let you sort tasks within a label so I’ve had to on

[2020-02-23 23:45] dbarnett commented on #60
Cool! Far reaching change indeed, but I at least skimmed through to get the gist of the changes. Losing the link to the task in Todoist does seem unfortunate… is that no longer possible to support, or just missing in the short term until things settle more?

Is it possible to host both versions side-by-side for a while to get a feel for the differences?

[2020-02-24 11:30] mwakerman commented on #60
Have brought back the link, I had just removed it because I thought it was clumsy and resulted in a lot of UI jitter when moving the mouse around. It's back now and a bit more subtle.

I don't think I'll try to host both versions just because of how broken the current one is for most users. Let me know if you find other regressions otherwise I plan on merging tomorrow night.

[2020-02-24 11:31] mwakerman commented on #60
Latest: https://5e53b33e9672930008df8d63--kanbanist.netlify.com/

[2020-02-24 11:32] mwakerman commented on #54
I've brought it back.

[2020-02-24 13:51] dbarnett commented on #60
Oh, and just saw you had already posted a demo link. Looks nice, and plan sounds perfect to me. Thanks!

[2020-02-26 11:25] #54 closed

[2020-02-26 12:02] mwakerman opened #74 "Cannot scroll board by dragging item near edge."
As discussed in [atlassian/react-beautiful-dnd#131](https://github.com/atlassian/react-beautiful-dnd/issues/131). Dragging nested list components is not currently supported but is in the works (or at least was?). Creating this issue to track.

[2020-02-26 17:00] Starkfoot14 opened #76 "Lists are not scrolling in FireFox in new UI"

[2020-02-27 08:35] #76 closed

[2020-03-03 13:27] msantoro14 commented on #48
@mishawakerman and @baba43 I noticed the issue we have been discussing has been resolved with the most recent update.  It's working well again now!  Thank you!

[2020-03-12 21:26] JoPe72 opened #79 "No date filter on Backlog"
Hi

I have started looking at Kanbanist and it is really a nice solution. Is there a way to filter all columns on due date except the backlog?

Johan

[2020-03-13 03:50] mwakerman commented on #79
Hi @JoPe72, that would be possible but I'd be interested in knowing a bit more about the use case. If the backlog was not filtered by due date (what about the other filter types?) then what would happen if you dragged that task into a list? At current, it would disappear which I don't think would match peoples intuition or be a great user experience.

[2020-03-14 22:40] michaeldboyd commented on #11
@mwakerman  Given that todoist removed support for free users to do label management through the API last month, it seems like there will be even more requests for this kind of project-as-list feature. I understand that it isn't very "kanban" to show lists of projects though, so maybe support for this is out of scope.

I think if I had this feature I would probably use it to create categorized bac

[2020-03-15 01:14] mwakerman commented on #11
@michaeldboyd thanks for the message, it's not something I'd thought about since the premium lockdown of labels API and I think it probably does change the calculus.

The things I'm currently thinking about:
- Should this be an either/or configuration or should we move to just projects completely? I'm leaning towards it being optional and we make it the default for non-premium users.
- Should it b

[2020-03-17 04:59] michaeldboyd commented on #11
Wondeful! Forgive me for spitballing a bit bigger scope than we might be prepared to handle, but here are some thoughts.

**Project based approach**
In the first iteration it would be easier to implement a purely project list based configuration and then offer the option to switch to the original label-based configs for pro users.

If we did a 100% project list based board, the labels could then b

[2020-03-18 16:50] pdussart opened #81 "priority colors the same as in todoist"
I  think it would be easier to recognize priorities in Kanban.ist when the colors correspond with the the ones in Todoist: Red, Orange, Blue and White

[2020-04-07 22:54] amadaira commented on #26
Yes!!! At first show the first lines of the comments of the first comment of task...
And please with rich format to have clickable links on those comments

You could then have on the card both the link to the todoist task, but some litle description in the view with possibly a link to another app (CRM or whatever)

[2020-04-08 17:15] amadaira commented on #26
I have a workaround, as you can add a link in the description of a task with the sintax [TEXT DESCRIPTION](URL) and is visible and clickable by kanbanist. You can also edit the task name in kanbanist and add a link with that sintax and syncs with todoist seamlesly! Great!!! Now I have tha kanban panels with the todoist tasks and a link to a external system (google drive, CRM or whatever)

[2020-04-10 07:08] ColinMaring opened #82 "Shared labels not shown"
Would be helpfull if shared labels, could also be shown. :)

[2020-04-15 01:28] #60 closed

[2020-04-15 01:29] mwakerman commented on #60
Done.

[2020-04-15 01:30] mwakerman commented on #49
Duplicate of #48 (now closed).

[2020-04-15 01:30] #49 closed

[2020-04-15 01:35] mwakerman commented on #44
Closing this issue as unable to reproduce issue.

[2020-04-15 01:35] #44 closed

[2020-04-15 01:37] mwakerman commented on #9
Resolved with re-write of drag-and-drop integration.

[2020-04-15 01:37] #9 closed

[2020-04-17 10:36] gervik opened #85 "Idea for a more clear Backlog Column"
Hi,

I would like to see only project like tasks, not the single tasks in the Backlog. I think that seeing and moving the parent tasks would generate more focus and clarity. As soon as I move my parent task to a "DOING" column, I have to check the subtasks which should be the next action.

Is it possible to hide subtasks in the Backlog column?
What's your opinion on that?

[2020-04-18 19:07] sai-manoj-kumar opened #86 "Could we use sections instead of labels?"

[2020-04-19 15:14] robotlemon commented on #86
hi- new here- if i could add to the above... i'd find it great to have the option (perhaps a toggle?) to use Projects instead of Labels. sections could follow as dividers in the project column.

I would fund this functionality if it would help. thanks! -Reid

[2020-04-20 22:55] mwakerman commented on #86
@robotlemon - please take a look at #11, this is something I've started looking at since Todoist have blocked the labels API for non-Premium users.

@sai-manoj-kumar - I don't personally use sections in Todoist but they appear to be something project based (each project has it's own sections). As such, how would you expect this to work in Kanbanist?

[2020-04-20 23:00] mwakerman commented on #85
Hi @gervik, I'm having a bit of trouble understanding your request. I understand that you would prefer that sub-tasks do not appear in your backlog. But I can't follow what you would like to occur when you drag the parent task from the backlog to a list.

[2020-04-20 23:36] mwakerman commented on #82
Hi @ColinMaring - I've only got a single Todoist premium account which makes developing/testing difficult but not impossible. It looks like I'll need to use a newer version of the API which includes shared labels but may break other things.

[2020-04-20 23:36] mwakerman commented on #81
@pdussart - thanks for the suggestion, this sounds reasonable. I've added the good-first-issue label and perhaps a contributor can pick this up.

[2020-04-21 10:41] ColinMaring commented on #82
Would you need help that we set up a test project together? Or are you
afraid breaking it at this moment and therefore would not prefer to
continue?

Best regards

Op di 21 apr. 2020 om 01:36 schreef Misha Wakerman <notifications@github.com

--
Verzonden via IPhone

[2020-04-21 11:44] mwakerman commented on #82
Thank you but it's ok, I've managed to do it with one premium account. I'll aim to have a look at it again this week.

[2020-04-22 17:35] sai-manoj-kumar commented on #86
@mwakerman The way I see it is, I have one Kanban board for each project I need to track. So, different sections form different columns in the Kanbanist. Seems so intuitive. Even if I go back to todoist after making changes in Kanbanist, the tasks are still broken down into different sections similar to the Kanbanist view.

[2020-04-28 07:13] sai-manoj-kumar commented on #86
@mwakerman What do you think? ☝️

[2020-04-29 10:40] mwakerman commented on #86
Thanks for the explanation @sai-manoj-kumar, unfortunately I think your use case (1 project per board) is not common and I can't see a clean way to use "Sections" if there are multiple projects on a board.

Regarding your last point about labels and filters, I'm unsure why creating a set of labels for Kanbanist and then disabling the other labels (in the "Lists" filter menu) would not work for you

[2020-04-29 12:46] sai-manoj-kumar commented on #86
@mwakerman Thanks for the response. Don't know if it is common or not, but I understand how it can be complicated with multiple projects and sections together.

There is no problem in the kanbanist, I feel that these new labels I create for kanban board don't do much in the todoist and just feel like a bit of clutter. Not a major issue though.

Overall I still would love to use one board per proje

[2020-04-29 21:29] kantorge commented on #81
I've adjusted the colors in CSS, and created a pull request for it. Please let me know, if you have any comments, requests, or suggestions.

[2020-05-03 23:51] #81 closed

[2020-05-03 23:53] #52 closed

[2020-05-04 19:46] mgomez83 opened #91 "Backlog repopulating"
Hi,
How is the backlog populated? I keep having issues where the backlog gets repopulated with tasks ready in lists, so I have a bit of task duplication in several views. If I remove/add a column from a view the tasks will be depopulated from the backlog but they will come back in a bit.

Thanks

[2020-05-04 20:54] maartendeblock commented on #86
The cleanest way is to group on section name. If you want to use Kanbanist over multiple projects (as I do), than you must have sections with the same names.

[2020-05-20 06:29] marcusai opened #92 "Edit time part of due date"
The widget to amend the due date only appears to allow a user to set the date and not the time.

[2020-05-20 06:55] ColinMaring commented on #82
Hi Misha,
Did you already manage to look into it?

Br Colin

Op di 21 apr. 2020 om 13:44 schreef Misha Wakerman <notifications@github.com

[2020-05-24 21:23] mwakerman opened #93 "Allow filtering of subtasks"
Let users filter subtasks to be shown/hidden on the board.

[2020-06-08 02:45] #93 closed

[2020-06-19 17:16] anandman commented on #22
Looks like this was brought up before in the now closed issue #36 but doesn’t seem like we need to wait for the refactor to create a PWA from this so it can run on any device, mobile or desktop, as a native-looking app. Am I missing something?

[2020-06-19 20:54] dbarnett commented on #22
IIUC the refactor is done now, and PWA would be cool to have.

Before the refactor it would have been an awful experience in practice with broken drag-and-drop, etc.

[2020-06-20 02:32] mwakerman commented on #22
I put this into the category of things that are probably not worth the effort given Todoist's investment in it's official Boards view (despite it being years since it was promised).

[2020-06-20 02:33] mwakerman commented on #82
Hi @ColinMaring - I started looking at supporting the new API but have not had a chance to complete it. Without good tests it's the sort of change that breaks a number of things that I don't realise for quite some time after.

[2020-06-20 02:56] anandman commented on #22
Not sure the official Boards feature is what most Kanbanist users want. It’s [based on sections in projects](https://twitter.com/amix3k/status/1265281989579378689?s=21). I use the labels to group tasks across all my projects (e.g., I use month, week, today, current, waiting, and done as my current labels/columns) so unless I’m missing something about how Todoist is doing it, I’m pretty sure I will

[2020-06-20 03:05] mwakerman commented on #22
Woah, I’d missed that. That’s a pretty big thing for people as I can imagine having to add sections to all your projects could be annoying and then I’d guess that you can only look at a single project board?

I guess Kanbanist may survive after all 🙃

[2020-06-20 03:09] mwakerman commented on #82
Looking at this again and struggling to work out how the Todoist API handles shared labels. I can see them in the Todoist App of my premium account under “Labels > Shared” but not able to see them in the normal API requests. Will keep pocking and grepping around but not a promising first step..

[2020-06-20 12:56] mwakerman commented on #82
@ColinMaring - it's a somewhat fiddly change as Shared Labels aren't quite first class citizens in Todoist. Have a look at PR #96 and let me know how it works for you (you can open [this link](https://deploy-preview-96--kanbanist.netlify.app) to demo the change)

[2020-06-21 01:47] mwakerman commented on #82
The weird things about "Shared Labels" are:

- They are not ordered/order-able
- You only see shared labels if you have a task in with the shared label. So if you move the last task out of a shared label list, the list will disappear at the next sync...

[2020-06-21 01:57] mwakerman opened #97 "Task reordering incorrect when sub-tasks are hidden"
Repro: have a list with at least one sub-task, hide that sub-task, try reordering items.

This is to do with how/where filtering sub-tasks is done where it's essentially just hidden in the list rather than removed which means the indexes when re-ordering are not correct.

[2020-06-21 01:58] mwakerman opened #98 "Include sub-task filtering in URL filter params"
URL params are used to bookmark custom boards and should have all filter (and other) params included.

[2020-06-29 11:18] stevygee opened #99 "Set and display label colors"
It's possible to set label colors in Todoist; It would be nice to have the background color of the lists match the associated label color, so lists are more easily identifiable.

[2020-07-10 15:16] davidluis23 opened #100 "Locked screen/view when moving tasks"
When having several lists, when moving a task from one end to other the screen doesn't move along it stays locked

[2020-07-10 15:34] mwakerman commented on #100
Duplicate of #74

tl;dr it’s a known issue with the drag and drop library having netted drop targets.

[2020-08-08 04:30] mar005 commented on #86
Hi @mwakerman I would add a thought to your comment on how this could work for both scenarios (1 kanban per project OR 1 kanban multiple projects) Swimlanes! I just jira day in day out and like in jira you have swimlanes per story as a swimlane or a dropdown section and each subtask go across the kanban.

I can see in this analogy each story is like a project and each column in the kanban is a sec

[2020-08-08 04:31] mar005 commented on #86
Additionally i feel labels can be almost like colors instead of the columns in the kanban as to me colors would be a quick visual of what the label is for which should match with the Todoist use for labels since each has a color. I'm unsure if the todoist api allows you to extract the color of the label, however.

[2020-08-11 11:21] mwakerman commented on #86
Todoist are (slowly!) making their Boards product which, as far as I know, has a board per Project and uses Sections to define columns/lists so that should satisfy a lot of folks on this thread's needs.

[2020-08-13 06:29] ronilaukkarinen opened #103 "Tasks without labels"
First of all, Kanbanist idea is awesome! I have lots of tasks without labels and I cannot see them in Kanbanist? Do I need to label them first in Todoist to add them to Kanbanist list, or how should I do this?

[2020-08-13 07:31] mwakerman commented on #103
Thanks @ronilaukkarinen - do you have Todoist Premium? If so you should be able to create your "Lists" in Todoist and it will add them as labels automatically in Todoist.

[2020-08-13 10:43] ronilaukkarinen commented on #103
Yes I do have todoist Premium. For some reason not all tasks from all projects are visible on Kanbanist even though they are there. What do you mean I should create my "Lists" in Todoist? I have projects, labels and tasks already existing there and I want to see them on Kanbanist. Some of them do, but for example from one project I don't see any tasks no matter what I do even though that project h

[2020-08-13 11:36] mwakerman commented on #103
Apologies, I meant to say if you make your lists in Kanban.ist then they'll appear as labels in Todoist.

Tasks with shared labels won't show up in Kanban.ist currently. I've made the change that should allow them to show up which you can preview here: https://deploy-preview-96--kanbanist.netlify.app See #82 for more information about shared labels.

[2020-08-13 11:51] ronilaukkarinen commented on #103
Oh. I already did some lists in Kanbanist and they are in sync with Todoist, that's not a problem.

Also, shared labels are not a problem currently.

I try to be as clear as possible.

What is an issue for me is that tasks WITHOUT any labels (thus not on any list, right?) are not showing in Kanbanist at all. Do I need to label them in Todoist? Can't you just have "Unlabeled" list on Kanban to stor

[2020-08-13 12:02] mwakerman commented on #103
Oh, you just need to open your Backlog.

[2020-08-13 12:28] ronilaukkarinen commented on #103
Oh, that's what Backlog means! Thanks!

While I'm here, is there a way to Kanbanist to remember my filters when I close the browser and open it again?

[2020-08-13 12:37] mwakerman commented on #103
Filters are stored in the URL so the way to save a "board" is to bookmark the URL.

[2020-08-14 15:34] frankhommers opened #104 "Share config across browsers/devices"
I'd like to share my config across browsers. For me it would be ideal to download/upload my settings.
Or copy/paste my current settings (Maybe even through a (very long) url).

By config I mean the part of the local storage which defines the columns, filters and other options.

Would this be possible?

[2020-08-14 21:58] frankhommers commented on #104
I guess I didn't look good enough. Everything is already in the URL. Soz.

[2020-08-14 21:58] #104 closed

[2020-08-29 16:46] pdussart opened #105 "(Option to) hide tasks that begin with a *"
Just an idea:

When the title of a task starts with a * Todoist treats it as a reference, not a task that you can check off. This in mind it makes sense, I think, to not show those references in Kanban.ist. Or at least have the option to hide them

pascal

[2020-09-08 09:28] MarkCroom opened #107 "Ability to add comments"
Hi there,

I use Kanbanist extensively to track my work projects and tasks. I use the Todoist comments section to give myself a track of updates to the tasks and to also allow me to track my past activity for time sheet entry at work.

Would it be possible to be able to add a comment into the task from the Kanbanist webpage instead of opening the link into Todoist itself?

[2020-09-08 09:31] MarkCroom opened #108 "Subtask count"
I tend to use sub tasks within Todoist as more of a checklist instead of separate, distinct tasks.

Would it be possible to show a count of sub tasks for a particular task within Kanbanist and possibly count the sub tasks that are already completed e.g (Sub tasks 2/5)?

[2020-09-17 18:10] AndrewMWebster commented on #43
+1 on projects as Swimlanes.  This would work well for a GTD, Scrum, or Kanban approach.

[2020-09-20 07:47] pdussart commented on #86
Todoist Boards will be released really soon: https://twitter.com/todoist/status/1306971431809495065?s=20

It is indeed based on sections: sections become columns. Which I find counterintuitive: I always thought they were ment to group tasks within a project, say, per topic (e.g. "testing") not per status, as one does using labels.

[2020-09-20 07:52] mwakerman commented on #86
Yeah I’ve actually been using Boards for a while (you can enable it on the
desktop app). I like it but find it really frustrating that it only has it
per project so I have to frequently go between it and my Today view to see
tasks in other projects.

On Sun, 20 Sep 2020 at 17:17, pdussart <notifications@github.com> wrote:

--
Misha Wakerman
m.wakerman@gmail.com

[2020-09-20 09:09] pdussart commented on #86
Thanks for mentioning that. I didn't know it was so easy to enable
experimental features

https://get.todoist.help/hc/en-us/articles/207106825-Join-the-beta-testing-program

Experiencing the Boards-view confirms my suspicion, and what you're
saying,  that a Board-view on a per-proejct basis would break or at least
hamper my workflow, too. But I might change my mind, eventually.

On Sun, Sep 20, 20

[2020-09-24 09:49] yxylander commented on #43
Totally agree with @AndrewMWebster 's reasons: +1 on projects as Swimlanes
In my setup I am using a "GOALS" label as last stage.
Would be awesome to be able to group the tickets by project-lanes and see the project goals

[2020-09-25 00:20] austinkeller opened #109 "Support section-based lists"
# Enhancement Request

Now that todoist natively supports kanban boards based on sections, it would be handy to have section-based list support. I can see kanbanist as a proving ground for power features (filtering lists with labels, aggregating sections across subprojects, etc.). This would be a step in that direction.

[2020-10-02 05:22] mwakerman commented on #109
Hi @austinkeller, I'm actually working on this but doing it in parts. On the way there I'm creating a new page on Kanbanist to allow users to easily synchronise their sections across all of their projects to enable this.

[2020-10-02 05:22] mwakerman commented on #109
(The actual reason being that I want to be able to support non-premium users)

[2020-10-02 05:23] mwakerman commented on #43
I'll consider this as a part of a refactor I'm doing towards using sections instead of labels (to support non-Premium users).

[2020-10-16 13:48] erauner12 commented on #86
While I think the native boards they introduced are great. I still think do not think that it replaces everything that Kanbanist can do. I hope to see this project continue to flourish.

[2020-10-16 14:51] pdussart commented on #86
the things is: Todoist boards are based on sections instead of labels. So unless you want to assign both a section and a label to each task you have to go with either Todoist OR Kanbanist.

I've tried a Todoist-only workflow for a couple of weeks (I even threw all my labels overboard - pun not intended) but I think I'm reverting to a setup with Kanbanist and Todoist combined. To me, todoist-boards

[2020-10-16 20:03] mwakerman commented on #86
I've been working on switching to Todoist Sections as columns in Kanbanist. As to be expected, the hard problem to solve is if people have different sections in different projects (I've also built a settings menu where you can manually manage all your sections across all projects including forcing all projects to have the same sections). I see two options:

- Force people to have the same sections

[2020-10-16 20:53] anandman commented on #86
Why bother with the second option? Isn’t that same as saying use Todoist Boards view for each individual project and IFF sections are consistent across all projects, then use Kanbanist?

One question, with either option, can we use sections both for Kanbanist and for separating out “sub-projects”? For example, can I have a common set of sections like “Backlog”, “Next”, “Current”, “Done” that Kanba

[2020-10-18 22:10] mwakerman commented on #86
- Project swim-lanes is a very often request feature, see #89
- Having sections (and labels for that matter) that are columns and others that are ignored/repurposed is possible. The overarching issue with sections is that Kanbanist will need to do a lot of work to keep sections synchronised across projects. For example, what should Kanbanist do if someone deletes a section from one project manuall

[2021-03-21 07:26] ColinMaring commented on #82
Hi Misha,

Sorry for my late reply. Now a days we have the 'boards' within Todoist so
i've found I'm no using the Kanbanist that much anymore. I'm reaching out
to you fo for an other topic in which you might be able to help/interested.

I'm a fond of using 'Toyota Kata' as an way to canalize goals and there
follow-up. Now a days there is more and more that needs to be done remote.
My personal poin

[2021-04-12 05:34] markusrock commented on #68
Hi,

we have a similar request. Similar to the projects, I would like to be able to select when assigning. Instead of "Assigned to me" and "All" I would like to be able to select one or more team members (just like Lists and Projects).

Thanks
Markus

[2021-04-29 09:58] Dimentium opened #114 "Labels are available now with free plan"
Hello,
Todoist has changed free plan and now labels are available for everyone again.
https://todoist.com/help/articles/whats-included-in-the-new-free-plan

Is it possible to update kanbanist for work with free plans back?

Thank you!

[2021-08-24 12:21] pdussart opened #121 "Changing task-priorities from Kanbanist"
I'd like to add Todoist priorities to my workflow, but the UI to set and change priorities somehow stands in my way to fully appreciate the feature.

If only I could change task priorities from Kanbanist, almost as easy as changing the due date, I would be able to make use of task priorities, hassle free

[2021-09-16 07:19] pdussart opened #122 "plus-sign in task-name is filtered out"
Just found out that when changing the name of a task from within Kanban.ist, some special characters (the plus-sign and the ampersand for example) are being replaced by a space, which shouldn't happen.

e.g. "Glossary + r&d" becomes "Glossary r d"

[2021-11-06 10:23] hcende commented on #109
I am a longtime Todoist user and love the combination with Kanbanist for my weekly reviews. Recently, I started using sections (boards) for my workflow management and labels for the context (people, locations, etc). I would like to emphasise my need for filtering/showing sections too.

[2021-11-30 19:17] msantoro14 opened #125 "Display Sub-Tasks"
Hi @mwakerman , I noticed that sub-tasks do not show up on the kanbanist board.  I think sub-tasks are a newer feature.  I'm trying a new workflow and would be helpful if that could be supported.  Thank you kindly, -Mike Santoro

[2021-11-30 19:19] #125 closed

[2021-11-30 19:20] msantoro14 commented on #125
Found the button on top.

[2022-08-17 13:24] mwakerman opened #139 "Ipdate: Kanbanist has been re-written from scratch in another repository, currently in early beta testing"
Visit: https://beta.kanban.ist to see the current progress.

[2022-11-06 11:24] baba43 commented on #139
@mwakerman great to see this! Can we access the new repo anywhere to report bugs or suggest features?

[2022-11-07 21:08] mwakerman commented on #139
Hi @baba43, the repo is currently private but I intend to open it up eventually. This time there's a (stateless) backend to handle things like oauth with Todoist so it's not quite as simple as just being a static site. It's currently wired up to Sentry so I see (but can't always fix immediately) most bugs that people hit but I'll have have a think about the best way to get bugs reports (GitHub iss